* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--foreground);
    font-family: "inter";
}

:root {
  --primary: #e11d48;
  --primary-hover: #f43f5e;
  --primary-foreground:#ffe4e6;

  --background: #f8fafc;
  --foreground: #1e293b;

  --foreground-hover: #475569;

  --border: #475569;
  --border-light: #cbd5e1;

  --radius: 0.375rem;

  --shadow-sm: box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow: box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

a {
  color: var(--foreground);
  text-decoration: none; 
}

a:hover {
  text-decoration: underline;
  color: var(--foreground-hover);
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}